<!-- mafrood dah el footer akhdah mn hagar-->
 <footer>
<div class="div-buttom">
  <div class="alldiv help">
      <h3>HELP</h3>
      <p><a href="#contact-us">Contact Us</a></p>
      <p><a href="#return&changes">Return and Change</a></p>
      <p><a href="#shipping&delivery">Shipping and Delivery</a></p>
  </div>

  <div class="alldiv about-us">
      <h3>ABOUT US</h3>
      <p><a href="#aboutus">About us</a></p>
      <p><a href="#CareerOpportunities">Career Opportunities</a></p>
      <p><a href="#CorporateSupport">corporate Support</a></p>
  </div>

  <div class="alldiv policies">
      <h3>POLICIES</h3>
      <p><a href="#DataPrivacyAndSecurityPolicy">Data Privacy And Security Policy</a></p>
      <p><a href="#TermsOfUSe">Terms Of Use</a></p>
  </div>

  <div class="alldiv logo">
      <h1>TRENDISTA</h1>
  </div>

</div>
</footer>