

<link rel="stylesheet" href="/css/nav&footerStyle.css" />
<header>
<h1> <a href="home.html" id="website-name"> SEJAL </a></h1>
<a href="home.html"><img src="./logo.png" class="logo" alt="cannot load pic" width="20px"></a>
<div class="search-container">
    <input id="search-bar" type="text" placeholder="Search..." >
    <button class="bt">
      <i class="fa-solid fa-magnifying-glass"></i>
  </button> 
</div>
<div class="icons">
    <div class="icon-container">
       <a href="myprofile.html"> <i class="fas fa-user"></i></a>
        <div class="user-box">
            <p>Log in to enjoy special offers for members and fast checkout.</p>
            <button class="user-btn login-btn"><a href="signin.html">Log In</a></button>
            <button class="user-btn signup-btn"><a href="addaccount.html">create account</a></button>
        </div>
    </div>
    <a href="itemsinwishlist.html" target="_blank">
        <i class="far fa-heart"></i>
    </a>
    <a href="../Cart/cartWeb.html" target="_blank" class="icon-Cart">  
      <i class="fas fa-shopping-cart"></i><span id="Cart-Quantity">0</span></i></a>
</div>
</header>