<!DOCTYPE html>
<html>
<div class="z"></div>
<div class="x"><h2>YOUR ORDER HAVE BEEN PLACED !!!</h2></div>
<div class="y">
<img src="Cart\cart_empty.png">
<button><!--<a href="../productspage/home.html">-->continue shopping</button> 
</div>
</div>
</body>
</html>