<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <%- include('./partials/nav'); -%>

    <nav>
        <ul>
            <li><a href="products" class="home-anchor">WOMEN</a></li>
            <li><a href="home">HOME</a></li>
            <li><a href="#sale">SALE%</a></li>
        </ul>
    </nav>

    <section id="sale">
        <P id="saletext1">ADDITIONAL TO OTHER DISCOUNT</P>

        <P id="saletext2">ENJOY 20% OF AT CART ON SELECTED PRODUCTS </P>
        <a href="products">
            <button id="shop" >Shop Now</button>
    </section>

    <div class="main-container">

        <div class="slideshow-container">
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <div class="mySlide">
                <div class="slide-background">
                    <div class="button-container">
                        <a href="products">
                            <button class="slide-button">WOMEN</button>
                    </div>
                </div>
            </div>

            <div class="mySlide">
                <div class="slide-background">
                    <div class="button-container">
                        <button class="slide-button">CASUAL</button>
                        <button class="slide-button">ELEGANT</button>
                    </div>
                </div>
            </div>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <div class="shop-now-container">
            <div class="shop-now-background">
                <a class="shop-now-button" >Shop Now</a>
            </div>
            <div class="bestsaller">
                <button class="harryup-button">HURRY UP</button>
            </div>
        </div>

    </div>
    <div class="categories-conatiner">
        <div class="box box1">
            <img src="" alt="T-SHIRTS">
            <h2>T-SHIRTS</h2>
            <a href="products">
                <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="box box2">
            <img src="./images/db/Floral Square-Neck Tiered Midi Dress.webp" alt="DRESSES & SKIRTS">
            <h2>DRESSES & SKIRTS</h2>
            <a href="products">
                <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="box box3">
            <img src="./images/db/Flare High-Rise Jean.webp" alt="JESANS">
            <h2>JEANS</h2>
            <a href="products">
                <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="box box4">
            <img src="./images/db/Oversized Cropped Full-Zip Hoodies.jpg" alt="SHIRTS & BLOUSES">
            <h2>SHIRTS & BLOUSES</h2>
            <a href="products">
                <i class="fa-solid fa-arrow-right"></i></a>
        </div>

        <div class="box box5">
            <img src="hagarpics/image16.webp" alt="SHORTS">
            <h2>SHORTS</h2>
            <a href="productsPage.html">
                <i class="fa-solid fa-arrow-right"></i></a>

        </div>

        <div class="box box7">
            <img src="hagarpics/image18.webp" alt="VESTS & JACKETS">
            <h2>VESTS & JACKETS</h2>
            <a href="productsPage.html">
                <i class="fa-solid fa-arrow-right"></i></a>
        </div>


    </div>

    <div class="about">
        <div class=" boxs ">
            <i class="fa-solid fa-truck-fast"></i>
            <h3>free shipping</h3>
            <p ]>over 500EGP</p>
        </div>

        <div class=" boxs">
            <i class="fa-solid fa-recycle"></i>
            <h3>online & in store return</h3>
            <p>within 30 days</p>
        </div>

        <div class=" boxs ">
            <i class="fa-solid fa-sack-dollar"></i>
            <h3> cash payment on delivery</h3>
        </div>

        <div class="boxs ">
            <i class="fa-solid fa-phone-volume"></i>
            <h3>Call Center 1999</h3>
            <p>From Saturday to Thursday from 10:00 AM to 09:00 PM</p>
        </div>

    </div>
    <%- include('./partials/footer'); -%>
    <%- include('./partials/ScrollUp'); -%>

    <button id="scrollBtn" onclick="scrollToTop()"><i class="fa-solid fa-caret-up"></i> UP</button>
    <script src="home.js"></script>


</body>

</html>