<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/insidewish.css">


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
crossorigin="anonymous" referrerpolicy="no-referrer" />

  </head>
  <body>
    <header>

      <img src="images\logo.jpg" class="logo" >
  
      <h2 class="brandname"> Trendista </h2>

      <a href="../Cart/cartWeb.html"> <i class="fa-solid fa-cart-shopping" id="carticon"style="color: black;"></i></a>
      <a href="home.html"> <i class="fa-solid fa-house-chimney"  id="homeicon"style="color: black;"></i></a>
      <a href="myprofile.html"><i class="fa-solid fa-user" id="homeicon"style="color: black;"></i></a>
         
      
    </header>
<div class="main">

    <div class="titlediv">
      <h1 class="title"> MY FAVOURITES</h1>
      <hr style="width:385%;">
    </div>
    <div class="itemdiv">
      <div class="picdiv">
        <img class="pic" src="https://eg.hm.com/assets/styles/HNM/16439533/70aef1329ff6b7b50fd258f91bee562530e4ef1a/1/image-thumb__4761261__product_listing/70aef1329ff6b7b50fd258f91bee562530e4ef1a.jpg">
      </div>

      <div class="detailsdiv">
<a href="item.html"><h5><span class="description" title="Denim pull-on shorts">Denim pull-on shorts  <br> price: 1050 LE </span></h5></a>
      </div>
      <div class="basketdiv">
        <button class="basketbutton">MOVE TO BASKET</button>
      </div>
      <div class="removediv">
        <button class="removebutton"> Remove</button>
      </div>

    </div>
  </div>


<!-- dah lll second item lghayt ma nedkhal data base-->
  <div class="main">

   
    <div class="itemdiv">
      <div class="picdiv">
        <img class="pic" src="https://eg.hm.com/assets/styles/HNM/16705226/4c5989be5bc6ddcbc237fb2fd8862c5b21ca26c3/1/image-thumb__4865913__product_listing/4c5989be5bc6ddcbc237fb2fd8862c5b21ca26c3.jpg">
      </div>

      <div class="detailsdiv">
<a href="item.html"><h5><span class="description" title="Linen-blend pull-on trousers">Linen-blend pull-on trousers <br> price: 950 LE</span></h5></a>
      </div>
      <div class="basketdiv">
        <button class="basketbutton">MOVE TO BASKET</button>
      </div>
      <div class="removediv">
        <button class="removebutton"> Remove</button>
      </div>

    </div>
  </div>
  </body>
</html>